.boxscore-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  background-color: white;
}

.team-boxscore {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
}

.team-boxscore-goals {
  font-size: 30px;
  font-weight: 500;
}
