.team-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 200px;
  justify-content: center;
  gap: 10px;
}

.team-card-logo {
  align-self: center;
}

.team-card-name {
  font-weight: 500;
  margin: 0;
}

@media (width <= 700px) {
  .team-card {
    width: 100px;
  }
}
